@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na naszej stronie językowej!</h1>
    <p>Z nami sprawdzisz szybko i prosto dostępne języki, godziny zajęć oraz nauczycieli i znajdziesz coś dla siebie</p>
</div>
